@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Server 9 hot reload repro #6</h1>

Increment the number above to trigger hot reload.

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Console.WriteLine("OnInitializedAsync begin");
        await Task.Delay(3000);
        Console.WriteLine("OnInitializedAsync end");
    }
}